.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e293b, #0f172a);
}

.login-card {
  width: 400px;
  padding: 2rem;
  border-radius: 12px;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}
